.box {
    width: 1100px;
    height: 500x;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p, img {
    flex: 1;
    max-width: 80%;
    max-height: 80%;
}

p {
    margin-bottom: 20px;
}

img {
    margin-top: 20px;
}

.move-slightly {
    margin-left: 540px;
    margin-top: 100px;
}

.bottom-border{
    border-bottom: 5px solid gray;
}

